*{
    background-color: black;
    color: #fcbb4a;
}
h1, p{
    text-align: center;
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: large;
}
.gameScreen{
    width: 62rem;
    height: 31rem;
    border: 0.1rem solid black;
    margin: auto;
    background-image: url("./img/sky.jpg");
    background-size: 62rem 31rem;
    overflow: hidden;
    
}
#mouseBlock{
    width: 4rem;
    height: 5rem;
    background-image: url("./img/mouse.jpg");
    background-size: 4rem 5rem;
    position: relative;
    top: 20rem;
    left: 58rem;
    animation: move 2s infinite linear;
}

@keyframes move {
    0%{
        left: 58rem;
    }
    100%{
        left: -5rem;
    }
    
}

#chesseCharacter{
    width: 5rem;
    height: 6rem;
    background-image: url("./img/cheese.jpg");
    background-size: 5rem 6rem;
    position: relative;
    top: 25rem;
    left: 5rem;
}

.jump{
    animation: jump 500ms linear;
}

@keyframes jump {
    0%{
        top: 25rem;
    }
    10%{
        top: 18rem
    }
    20%{
        top: 12rem
    }
    30%{
        top: 10rem
    }
    40%{
        top: 8rem
    }
    50%{
        top: 8rem
    }
    60%{
        top: 8rem
    }
    70%{
        top: 10rem
    }
    80%{
        top: 12rem
    }
    90%{
        top: 18rem
    }
    100%{
        top: 25rem
    }
    
}